{% extends 'dashboard/sidebar.html' %}

{% block dashboard_content %}
<h3 class="mb-4 text-primary">Property Management</h3>

<div class="row mb-4">

    <div class="col-md-3">
        <div class="card shadow text-center p-3">
            <h6>Total Properties</h6>
            <h3 class="text-primary">12</h3>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card shadow text-center p-3">
            <h6>Available</h6>
            <h3 class="text-primary">7</h3>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card shadow text-center p-3">
            <h6>Occupied</h6>
            <h3 class="text-primary">5</h3>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card shadow text-center p-3">
            <h6>Pending Approval</h6>
            <h3 class="text-primary">01</h3>
        </div>
    </div>

</div>

<div class="card shadow p-3 mb-5">
    <div class="d-flex aligh-items-center mb-3 text-primary">
        <h5 class="mb-0">Property Types</h5>
        <button class="btn btn-primary ms-auto">Add</button>
    </div>

    <table class="table table-bordered table-hover">
        <thead class="table-primary">
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Description</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for p in property_type %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ p.name }}</td>
                <td>{{ p.description }}</td>
                <td>
                    <button class="btn btn-sm btn-primary">
                        <i class="bi bi-eye"></i>
                    </button>
                    <button class="btn btn-sm btn-warning">
                        <i class="bi bi-pencil"></i>
                    </button>
                    <button class="btn btn-sm btn-danger">
                        <i class="bi bi-trash"></i>
                    </button>
                </td>
            </tr>
              {% endfor %}
            
        </tbody>
    </table>

</div>

<div class="card shadow p-3">
    <div class="d-flex mb-3 align-items-center text-primary">
        <h5 class="mb-0">All Properties</h5>
        <button class="btn btn-primary ms-auto">Add</button>
    </div>
    <table class="table align-middle table-hover">
        <thead class="table-primary">
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Type</th>
                <th>Price (UGX)</th>
                <th>Location</th>
                <th>Contact</th>
                <th>Status</th>
                <th>Agent</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for property in properties %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ property.name }}</td>
                <td>{{ property.property_type }}</td>
                <td>{{ property.price }}</td>
                <td>{{ property.location }}</td>
                <td>{{ property.contact }}</td>
                <td><span class="badge bg-success">{{ property.status }}</span></td>
                <td>{{ property.agent }}</td>
                <td>
                    <button class="btn btn-sm btn-primary">
                        <i class="bi bi-eye"></i>
                    </button>
                    <button class="btn btn-sm btn-warning">
                        <i class="bi bi-pencil"></i>
                    </button>
                    <button class="btn btn-sm btn-danger">
                        <i class="bi bi-trash"></i>
                    </button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}