{% extends 'dashboard/sidebar.html' %}

{% block dashboard_content %}
<h3>Dashboard data analytics runs here</h3>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum dolorem quibusdam quam repellat eos aliquam aut soluta ex dolorum, laborum perferendis, porro et at neque. Quasi, iste molestiae? Ea, veritatis.</p>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sint sed est odit rem, ipsa quae, reprehenderit quisquam perferendis numquam enim cumque deleniti voluptate mollitia quos aperiam provident a dolor temporibus.</p>
{% endblock %}
